@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Roboto", sans-serif;
   font-size: 20px;
}

.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.todo-container {
   width: 700px;
   height: 500px;
   border-radius: 20px;
   box-shadow: 5px 5px 15px 0px rgba(122, 122, 122, 0.459);
   padding: 25px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 25px;
}

.todo-header h3 {
   margin-bottom: 10px;
   letter-spacing: 1.5px;
}

.input-wrapper {
   display: flex;
   gap: 15px;
   justify-content: space-between;
}

.input-wrapper button {
   background-color: rgb(253, 244, 229);
   box-shadow: 2px 2px 5px 0px rgb(139, 139, 139);
   border: none;
   padding: 10px 15px;
   border-radius: 5px;
   cursor: pointer;
   font-weight: 600;
   font-size: inherit;
}

.input-wrapper button:active {
   box-shadow: inset 0px 0px 10px 0px rgb(255, 201, 109);
}

.input {
   border: none;
   outline: none;
   padding: 7px;
   border-radius: 5px;
   font-size: inherit;
   line-height: 25px;
   width: 100%;
   box-shadow: 0px 0px 3px 0px rgb(90, 90, 90);
}

.input:focus {
   box-shadow: 0px 0px 10px 0px rgb(255, 226, 165);
}

.todo-body {
   overflow: auto;
   animation: showBody 0.5s;
   flex-basis: 100%;
}

.todo-body.change {
   animation: delete 0.5s;
}

.todo-body::-webkit-scrollbar {
   display: none;
}

.todo-footer {
   height: 30px;
   display: flex;
   align-items: center;
   gap: 15px;
   list-style: none;
}

.todo-footer > li {
   background-color: rgb(253, 244, 229);
   border-radius: 10px;
   cursor: pointer;
   padding: 10px 25px;
   transition: background-color 0.3s, color 0.3s;
}

.task {
   width: 100%;
   display: flex;
   gap: 1px;
   align-items: flex-start;
   margin-bottom: 10px;
   border-radius: 10px;
   background-color: rgb(253, 244, 229);
   line-height: 24px;
   transition: background-color 0.7s, color 0.7s;
}

.task p {
   flex-basis: 100%;
   padding: 10px;
   outline: none;
}

.task.checked {
   color: white;
   background-color: rgb(67, 206, 54);
}

.filter.active {
   color: white;
   background-color: rgba(184, 98, 0);
}

.task span {
   cursor: pointer;
   font-size: 40px;
   line-height: 24px;
   padding: 10px 10px 10px 2px;
}

.task span:first-of-type {
   font-size: 30px;
}

.task.delete {
   animation: delete 0.4s;
}

@keyframes delete {
   from {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}

@keyframes showBody {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
